@charset "utf-8";

body {
	margin: auto;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	
	max-width: 1200px;
	min-height: 100vh;
	background-color:#F8F8F8;

	
}





#logo-entete{
	display: flex;
	gap : 20px
}

a{
	color: black; /* blue colors for links too */
  text-decoration: inherit;
	cursor: pointer;
}

a:hover{
	color:#AF5055
}

.icons{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	font-size: xx-large;
	color: #AF5055;
}
fieldset, img, img a,a {
	margin: 0;
	padding:0;
	border:0;
	text-decoration: none;
}
header{
position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background-color: #F8F8F8;
}


#haut-bandeau {
	display: flex;
	justify-content: space-around;
    align-items: center;
	border:1px solid #AF5055;

	
   background-color: #AF5055;
   color: white;
   z-index:  2;
}


h2{
	font-size: xx-large;
	color : #AF5055;
}

.content{
	display: flex;
	flex-direction: column;
	margin-top:180px;
	gap : 10px;
	margin-bottom: 90px;

	
}

.menu{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
    align-items: center;
	gap:20px;
	font-size: x-large;
	justify-content: space-around;
	position: sticky;

	
}




#langues{
	height: 10%;
}




.page{
	display: flex;
flex-direction: column;
    align-items: center;
	width: 100%;
	gap:30px;
	min-height: 100vh;
	

	


}

p{
	line-height: 50%;
}


.contact{
	color: #AF5055;
	font-size: x-large;
	text-align: center;
}

.haut{
	display: flex;
	    align-items: center;
		width: 100%;
		justify-content: space-evenly;
		border-bottom :1px solid #AF5055;
		padding-bottom: 20px;
		
}
.marge{
	font-size:smaller;
	padding-left: 20px;
}

.bas{
	display: flex;
	width: 100%;
	    justify-content: space-evenly;
	
}


footer {
	background-color:#AF5055;
	clear:both;
	color:#FFFFff;
	font-size:15px;
	letter-spacing:3px;
	text-align:center;
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  order: 2;
	
}


@media (max-width: 575.98px) { 
	.menu{

	flex-direction: column;
	border-bottom: 1px solid #AF5055;
	}
	.content{

	margin-top:270px;
	margin-bottom: 100px;
	}
	.haut{
	flex-direction: column;
	gap: 20px;
	}
	.bas{
	flex-direction: column;
	align-items: center;
	gap:20px;
	
}
		


 }






